@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: rgb(238, 238, 238);
}
.hero-video {
  background-image: url("@/../../../public/Images/heroImage.jpg"); /* Replace with the actual path to your image file */
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  width: 98vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
